body
{
    background: url("images/koghi.png") no-repeat center fixed;
    background-size: cover;
    background-color: lightslategray;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}

html
{ 
    scroll-behavior: smooth;
}

header, nav, footer, #presentation, #tarifs, #nousTrouver
{
    width: 75%;
    margin: 15px auto;
    background-color: rgba(255,255,255,0.75);
    border-radius: 10px;
}

/* Style header */
nav
{
    margin-top: 10px;
}


header h1
{
    text-align: center;
    font-family: Mali, cursive;
    text-shadow: 0 0 5px green;
}

/* Style nav */
nav ul
{
    list-style-type: none;
    padding: 0;
}

nav li
{
    display: inline;
}

nav li a
{
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    line-height: 30px;
}

nav li a:hover
{
    color: green;
}

/* Style footer */
footer
{
    text-align: center;
    font-family: Mali, cursive;
    text-shadow: 0 0 5px green;
}

/* Style presentation */
#presentation p
{
    padding: 15px;
    column-count: 3;
    text-align: justify;
    font-family: Mali, cursive;
}

/* Style nousTrouver */
#nousTrouver
{
    height: 500px;
}

#nousTrouver iframe
{
    width: 100%;
    height: 100%;
    display: block ;
    margin: 5px auto;
    frameborder: 0px;
}


/* Style tarifs */

#tarifs
{
    width:600px;
}

#tarifs table
{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
}

#tarifs table thead
{
    background-color: rgba(0,0,175,.25);
}

#tarifs table thead th
{
    height: 44px;
    padding: 10px;
    margin: 0px;
    font-size: 14px
}

#tarifs table tr td
{
    height: 40px;
    border-bottom: 1px solid grey
}

.coche, .croix
{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.coche
{
    background: url("images/css_sprites.png") -10px -10px;
}

.croix
{
    background: url("images/css_sprites.png") -80px -10px;
}

/* Style slide */
.slider
{
    position: relative;
    width: 800px;
    height: 350px;
    margin: 10px auto 0 auto;
    overflow: hidden;
}

.slider ul
{
    position: absolute;
    padding: 0;
    list-style-type: none;
    width: 300%;
    animation: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.slider ul li
{
    display: inline;
}

@keyframes AutoSlide
{
    0%, 15%, 100%
    {
        left: 0px; /* 1ère image */
    }
    35%,50%
    {
        left:-100%; /* 2ème image */
    }
    70%,85%
    {
        left: -200%; /* 3ème image */
    }
}

/* Styles top */
#backtotop {
    position: fixed;
    bottom: 20px;
    right: 250px;
}

#backtotop:hover
{
    background-color: brown;
    border-radius: 5px;
}


/* Style the navigation menu */
.topnav {
    display: none;
    overflow: hidden;
    background-color: green;
    position: relative;

  }

  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: url("images/menu.png") no-repeat;
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
    width: 32px;
    height: 32px;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #4CAF50;
    color: white;
  }

@media only screen and (max-device-width:500px)
{

    .topnav {
        display: block;
    }

    header, nav
    {
        display: none;
    }

    
    header, nav, footer, #presentation, #tarifs, #nousTrouver
    {
        width: 95%;
    }

    nav li
    {
        font-size: 35px;
    }

    #presentation p
    {
        column-count:1; 
    }

    #tarifs
    {
        width:95%;
    }

    #tarifs table
    {
        width: 100%;
    }

    #tarifs table thead th
    {
        font-size: 30px
    }

    #tarifs table tr td
    {
        font-size: 25px;
    }

    #backtotop {
        right: 50px;
    }

    #footer
    {
        font-size: 15px;
    }

    #backtotop {
        height: 80px;
        width: 80px;
    }

    #backtotop a img {
        width: 100%;
        height: 100%;
    }
}



